.App {
  text-align: center;
  background-color: black;
  color:white;
  margin-top: 50px;
}


.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

body {
  background-color: black;
  color: white;
}
.banner {
  display: flex;
  /* margin-top: 50px; */
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.container {
  margin-left: 10px;
}

.home-header {
  margin-top: 40px;
  flex-wrap: wrap;
}
.home-button {
  width: 170px;
  height: 170px;
  border: solid white 2px;
  border-radius: 120px;
  text-align: center;
  line-height: 160px;
}

.footer-feed {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-bar {
  width: 40px;
  background-size: contain;
  background-repeat:no-repeat;
}

a {
  color: white;
}

.register-and-login {
  /* float:right; */
  /* position:absolute; */
  top:10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.log-reg-header {
  padding-left: 20px;
  margin: 20px;
  margin-top: 70px;
}

.log-reg-header-form {
  padding-left: 20px;
  margin: 20px;
  /* width: 30%; */
}

.log-reg-button {
  margin: 20px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(rgb(58, 147, 235), rgb(5, 32, 117));
  color: white;
}

.logout-button {
  padding: 6px;
  border-radius: 8px;
  background: linear-gradient(rgb(58, 147, 235), rgb(5, 32, 117));
  color: white;
}

.log-button {
  padding: 10px;
  border-radius: 8px;
  margin-left: 0px;
  background: linear-gradient(rgb(58, 147, 235), rgb(5, 32, 117));
  color: white;
}

.reg-button {
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(rgb(58, 147, 235), rgb(5, 32, 117));
  color: white;
}

label {
  padding: 5px;
}
.home-scorecard {
  /* width: 170px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.member-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 60vh; */
  background-size: cover;
}

.carousel-team-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  background-size: cover;
  border-radius: 25px;
}

.carousel-team-scoreblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-team-scoreblock li {
  border: 2px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.311);
  margin-left: 10px;
}

.carousel-team-scoreblock ul {
  padding-left: 0px;
  margin-bottom: 5%; 
}

.carousel-team-title {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.311);
  text-align: center;
}
.search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  background-size: cover;
  margin: 4%;
  border-radius: 25px;
  padding: 2%;
  min-height: 40vh;
}
/* 
.team-feed-container {
  height: 300px;
  height: 100vh;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  display: inline;
  width: 30%;
  margin-right: 4%;
  margin-top: 0px;
  background-size: cover;
  float: right;
} */

.team-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  background-size: cover;
  margin: 4%;
  /* margin-top: 8%; */
  border-radius: 25px;
  padding: 2%;
  min-width: 345px;
}
.team-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  background-size: cover;
  margin: 4%;
  border-radius: 25px;
  padding: 2%;
  height: 40vh;
  width: 90%;
}

.team-chore-mini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 4%;
  border-radius: 25px;
  padding: 2%;
  height: 40vh;
  width: 40%;
  min-width: 340px;
}

.team-scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 30%; */
  background-size: cover;
  margin: 4%;
  /* margin-top: 8%; */
  border-radius: 25px;
  padding: 2%;
  min-height: 20vh;
  max-width: 400px;
}

.team-title {
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.311);
  text-align: center;

}

.team-slogan {
  font-size: 25px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.311);
  text-align: center;

}
.team-scoreblock {
  padding: 10px;
}
.team-scoreblock li {
  border: 2px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.311);
}

.team-scoreblock ul {
  padding-left: 0px;
  /* margin-bottom: 5%; */
}
.team-dash-button {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 0px;
  /* margin-left: 15%; */
  /* margin-bottom: 4%; */
  margin: 4%;
  font-weight: bold;
}
.home-dash-button {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 10px;
  font-weight: bold;
  background: linear-gradient(rgb(58, 147, 235), rgb(5, 32, 117));
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-size: cover;
  margin: 10px;
}

/* why isnt this working? */
@media only screen and (max-width:900px) {
  .team-dash-button {
    width: 130px;
    height: 130px;
  }
  .header {
    flex-wrap:nowrap;    
  }
  .banner {
    font-size: 22px;
  }
  .header-bar {
    width: 25px;
  }
  .team-dashboard-container {
    height: 200px;
  }
}

ul {
  list-style-type: none;
}

.card {
  background-color: #1e1f20;
}

.carousel-holder {
  margin-top: 50px;
}

.dashboard-scroll-holder{
  background-color: #1e1f20;
  position: relative;
  width: 900px;
  height: 40vh;
  border-radius: 10px;
  background-size: cover;
}

@media (min-width: 1400px) {
  .dashboard-scroll-holder {
    width: 1250px;
  }
}

.chore-detail {
  color: yellowgreen;
  margin-right: 10px;
  font-weight: 600;
  font-size: 25px;
}
.daily-comment-feed {
  border: solid 2px white;
    padding: 7px;
    border-radius: 10px;
    width: 50%;
    font-size: 25px;
    color: yellowgreen;
}
.daily-comment-feed div {
  font-size: 20px;
  color: white;
}
.days-of-week span {
  margin-left: 5px;
}

.dashboard-style {
  border-radius: 10px;
}
.dashboard-style-1 {
  background-color:#ad1457;
  border-radius: 10px;
}

.dashboard-style-2 {
  background-color:#e64a19;
  border-radius: 10px;
}

.display-images-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4%;
  margin-top: 8%;
}

.images {
  margin: 10px;
}

.track-thumbnail {
  border: 2px solid black;
  border-radius: 6px;
  margin: 5px;
  background-size: cover;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}

.image-thumbnail {
  border: 2px solid black;
  border-radius: 6px;
  margin: 5px;
  background-size: cover;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}

.drag-and-drop-container {
  padding: 20px;
  display: grid;
  gap: 5px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 140px);
}

.day-container {
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
}

.drag-and-drop-chore {
  min-height: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.drag-and-drop-chore:not(:last-of-type) {
  margin-bottom: 5px;
}

.current {
  background-color: black;
}

.days {
  text-align: center;
}

.team-member-container {
  padding: 40px;
 
}